{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="container">
    <h1>Hello {{ user.username }}!</h1>


</div>
{% endblock %}
